html, body {
    height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    height: 100%;
    margin: 0 auto;
    width: 90%;
    max-width: 600px;
}

.panel-heading {
    text-align: center;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.chat-widget-main {
    max-height:75%;
    overflow:auto;
    margin-left:0;
    margin-right:0;
    padding:0;
}

.chat-col-left {
    padding: 15px 0;
    margin:15px 0;
    height: auto;
    float:left;
    clear:both;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #F5F5F5;
    font-size:12px;
}

.chat-col-right {
    padding: 15px 0;
    margin:15px 0;
    float:right;
    clear:both;
    height: auto;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #F0FFF0;
    font-size:12px;
}



